<h1>Pokemones</h1>
<br>

<% @pokemons.each do |pokemon| %>
  <div> <h2> <%= pokemon[:name].capitalize %> </h2>
  <%= image_tag(pokemon[:photo]) %>
  <h4>Weight: <%= pokemon[:weight] %></h4>
  <% types = [] %>

  <% pokemon[:types].each do |type| %>
  <% types << type[:type][:name].capitalize %>
  <% end %>

  <h4>Types: <%= types.join(", ") %> </h4>
  <% abilities = [] %>
  <% pokemon[:abilities].each do |ability|%>
  <% abilities << ability[:ability][:name].capitalize %>
  <% end %>

  <h4>Abilities: <%= abilities.join(", ") %> </h4>

  <a href="http://localhost:3000/pokedex/<%= pokemon[:id] %>">mas info</a>
<br>
<br>
</div>
<% end %>
