<div class="navbar mx-3">
  <%= image_tag "navbar_poke.jpg", width: 50, class:"rounded-circle" %>
</div>

<h1 style="font-size:100px; color: #3564AE;">Pokemons</h1>


<div id="demo" class="row row-cols-1 row-cols-md-3 g-4 m-auto">
<% @pokemons.each do |pokemon| %>
  <div class="col">
    <div class="card w-100" style="background-color: #DBB234; border-color: #3368B0;">
      <%= image_tag(pokemon[:photo]) %>
      <div class="card-body">
        <p class="card-text"><p>Nº. <%= pokemon[:id] %></p></li></p>
        <h5 class="card-title"><h5 class="card-title"><h2><%= pokemon[:name].capitalize %> </h2></h5></h5>
        <p class="card-text"><% types = [] %>
        <% pokemon[:types].each do |type| %>
        <% types << type[:type][:name].capitalize %>
        <% end %>
        <h3>Types: <%= types.join(", ") %> </h3></li>
        <p class="card-text"><% abilities = [] %>
        <% pokemon[:abilities].each do |ability|%>
        <% abilities << ability[:ability][:name].capitalize %>
        <% end %>
        <h3>Abilities: <%= abilities.join(", ") %> </h3></li></li></p>
        <p class="card-text"><h3>Weight: <%=pokemon[:weight]%> lb</h3></li></p>
        <br>
        <a href="#" class="card-link"><a href="http://localhost:3000/pokedex/<%=pokemon[:id] %>"><h3>More info</h5></a></a>
      </div>
    </div>
  </div>
  <% end %>
</div>

  <div class="paginate"><%=paginate @pokemons, theme:'bootstrap-5', :remote => true %>
  </div>
