<nav class="navbar">
  <%= image_tag "navbar_poke.jpg", width: 75 %>
</nav>

<h1 style="font-size:100px; color: #3564AE;">Pokemons</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
<% @pokemons.each do |pokemon| %>
  <div class="col">
    <div class="card" style="background-color: #DBB234; border-color: #3368B0;">
      <%= image_tag(pokemon[:photo]) %>
      <div class="card-body">
        <p class="card-text"><p>Nº. <%= pokemon[:id] %></p></li></p>
        <h5 class="card-title"><h5 class="card-title"><h2><%= pokemon[:name].capitalize %> </h2></h5></h5>
        <p class="card-text"><% types = [] %>
        <% pokemon[:types].each do |type| %>
        <% types << type[:type][:name] %>
        <% end %>
        <h4>Types: <%= types.join(" and ") %> </h4></li>
        <p class="card-text"><% abilities = [] %>
        <% pokemon[:abilities].each do |ability|%>
        <% abilities << ability[:ability][:name] %>
        <% end %>
        <h4>Abilities: <%= abilities.join(" and ") %> </h4></li></li></p>
        <p class="card-text"><h4>Weight: <%= pokemon[:weight] %></h4></li></p>
        <a href="#" class="card-link"><a href="http://localhost:3000/pokedex/<%= pokemon[:id] %>">More info</a></a>
      </div>
    </div>
  </div>
  <% end %>

  <div class="paginate"><%= paginate @pokemons, :remote => true %>
  </div>
