<div class="container d-flex justify-content-center">
  <div class="card m-0" style="width: 18rem;">
    <%= image_tag(@poki[:photo]) %>
    <div class="card-body">
      <h5 class="card-title"><%= @poki[:name] %></h5>
      <p class="card-text"> Description: <%=@poki[:description] %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Weight: <%=@poki[:weight]%></li>
      <li class="list-group-item">Types: <%=@poki[:types]%></li>
      <li class="list-group-item">Abilities: <%=@poki[:abilities]%></li>
      <li class="list-group-item">Evolution: <%=@poki[:evolution]%></li>
    </ul>
    <div class="card-body">
    </div>
  </div>
</div>
